@import 'mixins';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~plyr/src/sass/plyr';
@import '~epic-spinners/dist/lib/epic-spinners.min.css';
// @import '~vue-material-design-icons/styles.css';

@import '~filepond/dist/filepond.min.css';
@import 'core/base';
.bmd-btn-icon {
  line-height: 1.25 !important;
  & .mdi {
    line-height: inherit;
  }
}
.plyr__video-wrapper {
  width: 100% !important;
  height: 100% !important;
  .plyr video,
  video {
    height: 100% !important;
  }
}

html,
body {
  height: 100%;
  background: #f0f0f0;
  &,
  & > #app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
}
.fill-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 999;
}
hr {
  $hrHeight: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 0;
  background-color: rgba(0, 0, 0, .1);
  border-radius: $hrHeight;
  height: $hrHeight;
  // width: 100%;
}
.text-default {
  color: $body-color;
}
a {
  &.text-default:hover {
    color: lighten($body-color, 5);
  }
}
.card {
  .card-badge {
    position: absolute;
    right: -8px;
    top: -8px;
    height: 24px;
    width: 24px;
    background-color: #fff;
    line-height: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(114, 137, 218, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-xl {
      height: 32px;
      width: 32px;
    }
    &-sm {
      height: 20px;
      width: 20px;
    }
  }
}